body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  filter: brightness(90%);
}

a:active {
  filter: brightness(80%);
}

.header {
  position: absolute;
  width: 100%;
  height: 50px;
  box-shadow: rgb(228, 228, 228) 0px 1px 2px;
  top: 0;

}

.logo-image-frame {
  border-radius: 50px;
  background: #F7ECEC;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-top: 15px;
}

.logo-image-frame img {
  display: inline;
  width: 50px;
  position: relative;
  top: 10px;
  left: 10px;
}

.logo h1 {
  text-align: center;
  font-size: 12px;
}

.menu-nav {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: #8C8C8C;
}

.menu-nav a {
  padding: 5px;
}

.container {
  position: relative;
  top: 120px;
  width: 75%;
  margin: 0 auto;
  margin: 0 auto;
}

.card {
  background-color: #EEEEEE;
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(45,49,50,.2);
}
