body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  filter: brightness(90%);
}

a:active {
  filter: brightness(80%);
}

.header {
  position: absolute;
  width: 100%;
  height: 50px;
  box-shadow: rgb(228, 228, 228) 0px 1px 2px;
  top: 0;

}

.logo-image-frame {
  border-radius: 150px;
  background: #F7ECEC;
  width: 175px;
  height: 175px;
  margin: 0 auto;
  margin-top: 125px;
}

.logo-image-frame img {
  display: inline;
  width: 150px;
  position: relative;
  top: 10px;
  left: 10px;
}

.logo h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.menu-nav {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 16px;
  color: #8C8C8C;
}

.menu-nav a:nth-child(1) {
  background-color: #c5c5c5;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.menu-nav a {
  padding: 5px;
}

.container {
  position: relative;
  top: 500px;
  width: 900px;
  margin: 0 auto;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  justify-content: space-around;
}

.card {
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(45,49,50,.2);
  flex-grow: 1;
	width: 275px;
  min-width: 250px;
  max-width: 400px;
	height: 250px;
  margin-bottom: 30px;
  /* margin-left: 5px;
  margin-right: 5px; */
  position: relative;
  transition:0.3s;
}

.card-title {
  font-weight: bold;
  color: white;
  font-size: 24px;
  position: absolute;
  left: 20px;
  top: 10px;
  margin-right: 20px;
}

.card-desc {
  color: white;
  position: absolute;
  top: 75px;
  font-size: 18px;
  left: 20px;
  margin-right: 20px;
}

.card-date {
  color: #D9D9D9;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 12px;
}

.card:hover {
  transform: scale(1.1);
  transform-origin: center;
  box-shadow: 0 10px 25px 0 rgba(45,49,50,.6);
  filter: brightness(115%);
}

.section h2 {
  margin-left: 30px;
}

.section h3 {
  color: #afb6b9;
  margin-left: 30px;
  position: relative;
  top: -15px;
  right: -27px;
  font-size: 14px;
}

#section-projects .cards a:nth-child(1) .card, #section-projects .cards a:nth-child(6) .card {
  background: linear-gradient(180deg, #92CBFF 0%, #2391F6 100%);
}

#section-projects .cards a:nth-child(2) .card, #section-projects .cards a:nth-child(7) .card {
  background: linear-gradient(180deg, #FFC530 0%, #E4A400 100%);
}

#section-projects .cards a:nth-child(3) .card, #section-projects .cards a:nth-child(8) .card {
  background: linear-gradient(180deg, #D7B2FD 0%, #9061DE 100%);
}

#section-projects .cards a:nth-child(4) .card, #section-projects .cards a:nth-child(9) .card {
  background: linear-gradient(180deg, #55EB9A 0%, #3DBA76 100%);
}

#section-projects .cards a:nth-child(5) .card, #section-projects .cards a:nth-child(10) .card {
  background: linear-gradient(180deg, #FDC1C1 0%, #F27171 100%);
}

#section-cloudflare-projects img, #section-blog-posts img, #section-talks img {
  width: 30px;
  position: absolute;
  bottom: 11px;
  left: 11px;
}

#section-cloudflare-projects .card {
  background-color: #1a5286;
}

#section-blog-posts .card {
  background-color: #637E97;
}

#section-talks .card {
  background-color: #70b9f5;
}

#section-photos .card {
  overflow: hidden;
}

#section-photos .card img {
  position: absolute;
  right: -50%;
}

#tara-photo {
  top: -18px !important;
  right: -45% !important;
}

#mackenzie-diner-photo {
  top: -25px !important;
  right: -57% !important;
}

#mackenzie-couch-photo {
  right: -81% !important;
}

#emily-ballet-photo {
  top: -28px !important;
  right: -59% !important;
}

#karla-fish-photo {
  top: -47px !important;
  right: -75% !important;
}

#melissa-ballet-photo {
  top: -81px !important;
}

#evan-paint-photo {
  top: -28px !important;
}

#boy-boat-photo {
  top: -57px !important;
}

#terri-dance-photo {
  top: -57px !important;
  right: -79% !important;
}

#ladybug-hair-photo {
  right: -78% !important;
  top: -15px !important;
}

#sabrina-bird-photo {
  right: -48% !important;
}

#nyfw-closeup-tome-photo {
  right: -57% !important;
  top: -55px !important;
}

#annak-nyfw-photo {
  top: -20px !important;
  right: -61% !important;
}

#nyfw-annak-closeup-photo {
  top: -51px !important;
  right: -46% !important;
}

#nyfw-yuna-bookladder {
  top: -61px !important;
  right: -190px !important;
}

#nyfw-yuna-booklean {
  right: -200px !important;
}

#nyfw-yuna-glass {
  right: -125px !important;
  top: -25px !important;
}

.welcome-blurb {
  padding: 2em;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  background-color: #f3f3f3;
  position: relative;
  top: 405px;
  text-align: center;
  line-height: 2em;
  padding-left: 5em;
  padding-right: 5em;
}

.welcome-blurb a {
  color: #2fa6ff;
}

hr {
  position: relative;
  top: 450px;
  background-color: #f3f3f3;
  height: 3px;
  border: none;
}

#back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #f3f3f3;
  padding: 5px;
  border-radius: 5px;
  font-size: 32px;
  display: none;
}

#back-to-top-button img {
  width: 64px;
}

.show {
  display: inline-block !important;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 85%;
  }

  .card {
    width: 100%;
    min-width: 190px;
  }
  .show {
    display: none !important;
  }
}

@media only screen and (max-width: 700px) {
  .welcome-blurb {
    margin-top: 50px;
  }
  .show {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {

  .logo h1 {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .welcome-blurb {
    padding-left: 1em;
    padding-right: 1em;
    width: 80%;
  }

  .logo-image-frame {
    margin-top: 100px;
  }

}

@media only screen and (max-width: 450px) {
  .logo h1 {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .section h2 {
    margin-left: 0;
    text-align: center;
  }

  .card {
    width: 120%;
    position: relative;
    right: 10%;
  }
}
