/* just for demo */
/* body {
  background-color: #ffc3c3; 
} */

.jam---main-jam-button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: fixed;
    bottom: 2rem; 
    right: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    background: #f8f9fb;
    cursor: pointer;
    font-size: 14px;
    z-index: 1000000;
  }

  /* for styling all buttons in the jam ecosystem */
  .jam---button, button {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  .jam---button:hover, button:hover {
    filter: brightness(95%);
  }

  .jam---main-jam-button--active {
    background: #3776FD;
  }
  
  .jam---main-jam-button img {
    width: 24px;
    height: 24px;
    position: relative;
    left: -2px;
  }
  
  .jam-editor {
    width: 380px;
    background: #fff;  
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid #f7f7f7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    position: absolute;
    font-size: 14px;
    z-index: 1000000;
    padding: 0.3rem;
  }
  
  .jam-editor .reaction-avatar {
    position: relative;
    top: -1px;
    width: 30px;
    height: 30px;
    bottom: 4px;
    border-radius: 50%;
  }
  
  
  /* TODO: Move the code below to a different file */
  .jam-preview {
    width: fit-content;
    max-width: 450;
    height: 62px;
    background: #fff;  
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    position: absolute;
    font-size: 14px;
    z-index: 1000000;
    padding: 5px 10px;
  }
  
  .preview-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 14px;
    z-index: 1000000;
  }
  
  .preview-container:hover {
    cursor: pointer;
  }

  .preview-avatars {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4px;
  }

  .preview-avatars img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  }
  
  .preview-avatars img:not(:first-child) {
    margin-left: -13px;
  }
  
  .preview-num-comments {
    font-weight: 500;
    color: #142dbd; 
    font-size: 14px;
    margin-right: 4px;
    white-space: nowrap;
  }
  
  .preview-reply-date {
    color: grey;
    font-size: 14px;
    white-space: nowrap;
  }

  .preview-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 4px;
  }
  
  .preview-notification {
    align-self: center;
    border-radius: 50%;
    background: #e8180a;
    height: 8px;
    width: 8px;
    font-size: 14px;
  }
  
  /* dani added this below to style the keyboard shortcut advertisement thats in /lib/keyboardshortcuts.js */
  
  .jam---type-jam-enable-jam-banner {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: #33363A;
    border-radius: 5px;
    color: #F8F9FB;
    /* width: 180px; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    position: fixed;
    bottom: 2rem;
    right: 7.75rem;
    box-shadow: 0px 4px 10px rgb(0,0,0,0.15);
    font-size: 14px;
    z-index: 1000000;
  }
  
  .jam---code {
    font-family: 'Source Code Pro', monospace;
    color: #A3ABBC;
    font-weight: 500;
    letter-spacing: .02rem;
  }
  
  /* Click Collector Overlay */
  .click-collector {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999999; /* everything else in jam is at z-index 1million and this is 999,999 to catch all other clicks */
  }

  /* choopcheek is hebrew for a little thingamabob, i didn't know what else to call the triangle part of the callout */
  .jam---choopcheek {
      width: 0px;
      height: 0px;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #33363A;
      position: relative;
      left: 29px;
  }

  .jam---double-click-to-comment-instruction-banner {
    position: absolute;
    box-sizing: border-box;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1000001;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 90%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    background: #33363A;
    color: #F8F9FB;
    padding: 0 20px;
    height: auto;
    min-height: 40;
    font-size: 14px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
  }